body{
    margin: 0;
    background: #efefef;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    /* display: grid;
    grid-auto-rows: minmax(150px, auto); */
    /* grid-template-columns:  */
    /* height:100vh; */
    color: #ffffff;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.header{
    padding: 30px;
    background-color: #1b1f1e;
    color: #00c7c4;
    font-size: 35px;
    font-weight: bold;
    margin-top: 0px;
    text-align: center;
    margin-bottom: 10px;
}

.holder{
    width: 70%;
    padding: 30px;
    background-color: #242424;
    color: #00c7c4;
    font-size: 30px;
    font-weight: bold;
    margin:auto;
}

.entry{
    margin-top: 10px !important ;
    background: #242424;
}

#entryHolder{
    color: #ffffff;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #555;
    transition: 0.5s;
    outline: none;
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    background-color: #232f34;
    color: #ffffff;
}

button{
    height: 60px;
    background: #232f34;
    color: #ffffff;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    margin-top: 20px;
}
h1{
    font-size: 36px;
}

textarea{
    display: block;
    color: #ffffff;
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    padding: 12px 20px;
    margin-top : 8px;
    margin-right: 20px;
    box-sizing: border-box;
    border: 3px solid #555;
    transition: 0.5s;
    outline: none;
    background-color: #232f34
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #ffffff; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #ffffff; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #ffffff; 
    font-family: 'Oswald', sans-serif;

} 